:root {
    --primary-color: #1e1e1e;
    --secondary-color: #545454;
    --secondary-slight-light-color: #6c6c6c;
    --secondary-light-color: #b6b3b3;
    --cta-color: #00ffc1;
    --cta-hover-color: #23e8b8;
    --cta-light-color: #a1ffe8;
    --cta-mostlight-color: #e6fff9;
    --cta-outline-color: #01906d;
    --error-bg-color: #dc352c;
    --success-bg-color: #47F68D;
    --warning-bg-color: #ffc107;
    --white-color: white;
    --pink-shade-color: #F45B69;
    --blue-shade-color: #028090;
    --green-shade-color: #0A8754;
    --box-shadow-color: rgb(0 0 0 / 24%);
    --transition02: 0.2s;
    --transition03: 0.3s;
    --transition05: 0.5s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
ol, ul {
    list-style: none;
}
input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-flex-dir-col {
    flex-direction: column;
}

.d-flex-just-cent {
    justify-content: center;
}

.d-flex-just-space-btw {
    justify-content: space-between;
}

.web-links {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    margin: 5px;
    padding: 5px 8px;
    border-radius: 5px;
    outline: 2px solid transparent;
    transition: var(--transition05);
}

.web-links:hover,
.web-links:focus {
    background-color: var(--cta-hover-color);
    color: var(--primary-color);
}

.web-links:focus {
    outline: 2px solid var(--cta-outline-color);
}

.web-links .link-icon {
    font-size: 24px;
}
.web-links .link-search-icon {
    font-size: 18px;
}

.web-links .link-text {
    display: none;
    margin-left: 5px;
}

.hidden-ele {
    display: none;
    visibility: none;
    opacity: 0;
    width: 0;
    height: 0;
}

#network-status,
#javascript-status {
    width: 100%;
    height: 48px;
    max-height: 0px;
    text-align: center;
    font-weight: 500;
    font-size: large;
    background-color: var(--error-bg-color);
    color: var(--white-color);
    overflow: hidden;
    transition: var(--transition05);
}

#javascript-status {
    background-color: var(--warning-bg-color);
    color: var(--secondary-color);
    max-height: 48px;
}

#user-action-status-messages {
    position: fixed;
    bottom: 5px;
    margin: 0 10px;
    z-index: 1;
}

.user-action-status-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 8px;
    margin: 10px 0;
    max-width: 300px;
    min-width: 180px;
    left: -100%;
    border-radius: 5px;
    animation: statusMessageAnime var(--transition02) linear forwards;
}
.fetch-api-error-container {
    flex-wrap: wrap;
}
.fetch-api-error-container>img {
    max-width: 350px;
    width: 100%;
}

.fetch-api-error-container>p {
    max-width: 400px;
    margin-top: 10px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.fetch-api-error-container>p>button,
.fetch-api-error-container>p>a {
    cursor: pointer;
    background-color: transparent;
    font-weight: 600;
    border: none;
    text-decoration: none;
    padding: 0;
    color: var(--cta-outline-color);
    transition: var(--transition05);
}
.fetch-api-error-container>p>button:hover,.fetch-api-error-container>p>button:focus,
.fetch-api-error-container>p>a:hover,.fetch-api-error-container>p>a:focus {
    color: var(--cta-hover-color);
    text-decoration: underline;
}
@keyframes statusMessageAnime {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.user-action-status-container .message-icon {
    margin-right: 8px;
    font-size: 22px;
    flex-shrink: 0;
}

.user-action-status-container .message-text {
    margin-right: 23px;
}

.user-action-status-container button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: auto;
    background-color: inherit;
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    filter: brightness(0.9);
    flex-shrink: 0;
}

.user-action-status-error {
    background-color: var(--error-bg-color);
    color: var(--white-color);
}

.user-action-status-success {
    background-color: var(--success-bg-color);
    color: var(--secondary-color);
}

.loader-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 140px;
    font-size: 24px;
    font-weight: 600;
    color: var(--cta-outline-color);
    border-radius: 5px;
    margin-top: -38px;
}

.loader {
    position: relative;
    top: 0.63em;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    transform: rotateX(-90deg);
}

.loader1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.2s;
}

.loader2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.3s;
}

.loader3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.4s;
}

.loader4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.5s;

}

.loader5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.6s;
}

.loader6 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.7s;
}

.loader7 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }

    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    90% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        top: 6.94em
    }
}
.articles-main-container-heading {
    text-align: center;
    max-width: 1024px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 32px;
    position: relative;
}

.articles-main-container-heading::after {
    content: "";
    width: 100%;
    max-width: 200px;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-slight-light-color);
    border-radius: 50px;
}

.articles-main-container-heading::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(100% - 4px);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background-color: var(--secondary-slight-light-color);
    border-radius: 2px;
}

@media only screen and (min-width: 414px) {
    .articles-main-container-heading {
        font-size: 36px;
    }
}
@media only screen and (min-width: 592px) {
    .web-links .link-text {
        display: inline-block;
    }
}

@media only screen and (min-width: 900px) {
    .fetch-api-error-container{
        flex-wrap: nowrap;
    }
    .fetch-api-error-container>p {
        margin-left: 40px;
    }
}

@media (prefers-reduced-motion) {
    :root {
        --transition02s: 0s;
        --transition03s: 0s;
        --transition05s: 0s;
    }
}