:root {
    --transition02: 0.2s;
    --transition03: 0.3s;
    --transition05: 0.5s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;

    --primary-color: #1e1e1e;
    --secondary-color: #545454;
    --secondary-slight-light-color: #6c6c6c;
    --secondary-light-color: #b6b3b3;
    --cta-color: #00ffc1;
    --cta-hover-color: #23e8b8;
    --cta-light-color: #a1ffe8;
    --cta-mostlight-color: #e6fff9;
    --cta-outline-color: #01906d;
    --error-bg-color: #dc352c;
    --success-bg-color: #47F68D;
    --warning-bg-color: #ffc107;
    --white-color: white;
    --pink-shade-color: #F45B69;
    --blue-shade-color: #028090;
    --green-shade-color: #0A8754;
    --orange-shade-color: #ff9900;
    --purple-shade-color: #4605a4;
    --box-shadow-color: rgb(0 0 0 / 24%);
    --box-bg-color: rgb(0 0 0 / 50%);
    --transition02: 0.2s;
    --transition03: 0.3s;
    --transition05: 0.5s;
}

html[data-theme="dark"] {
    --primary-color: #f1f1f1;
    --secondary-color: #cacaca;
    --secondary-slight-light-color: #bdbdbd;
    --secondary-light-color: #808080;
    --white-color: #111;
    --cta-color: #025e47;
    --cta-hover-color: #016d52;
    --cta-light-color: #002f23;
    --cta-mostlight-color: #00251c;
    --cta-outline-color: #028b68;
    --green-shade-color: #09e28a;
    --blue-shade-color: #01a6bc;
    --pink-shade-color: #fe6f7b;
    --success-bg-color: #006729;
}

html[data-theme="dark"] .articles-container {
    filter: brightness(0.9);
}

html[data-theme="dark"] img {
    filter: brightness(.8) contrast(1.2);
}

html.changing-theme {
    --transition02: 0;
    --transition03: 0;
    --transition05: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
    height: fit-content;
    min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-flex-dir-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.word-break-break-all {
    word-break: break-all;
}

.hidden-ele {
    display: none;
    visibility: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.web-links {
    position: relative;
    align-items: center;
    height: 40px;
    min-width: 40px;
    margin: 5px;
    padding: 5px 8px;
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary-color);
    border-radius: 5px;
    outline: 2px solid transparent;
    transition: var(--transition05);
}

.web-links:hover,
.web-links:focus {
    background-color: var(--cta-hover-color);
    color: var(--primary-color);
}

.web-links:focus {
    outline: 2px solid var(--cta-outline-color);
}

.company-logo-container:hover,
.company-logo-container:focus {
    background-color: inherit;
    color: var(--primary-color);
}

.company-logo-container:focus {
    outline: none;
}

.web-links .link-icon {
    font-size: 24px;
    min-width: 25px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.web-links .link-arrow {
    margin-left: auto;
    flex-shrink: 0;
}

.web-btns {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.web-btns .link-icon {
    min-width: 24px;
    min-height: 24px;
    justify-content: center;
}

.web-links .link-text {
    display: none;
    margin-left: 5px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#network-status,
#javascript-status {
    width: 100%;
    height: 48px;
    max-height: 0px;
    text-align: center;
    font-weight: 500;
    font-size: large;
    background-color: var(--error-bg-color);
    color: var(--white-color);
    overflow: hidden;
    transition: var(--transition05);
}

#javascript-status {
    background-color: var(--warning-bg-color);
    color: var(--secondary-color);
    max-height: 48px;
}

#user-action-status-messages {
    position: fixed;
    bottom: 5px;
    margin: 0 10px;
    z-index: 1;
}

.dropdown-type-text {
    text-align: left;
    width: 100%;
    font-size: 12px;
    padding: 4px;
    background-color: var(--white-color);
    position: sticky;
    top: -7px;
    color: var(--secondary-color);
}

.user-action-status-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 8px;
    margin: 10px 0;
    max-width: 300px;
    min-width: 180px;
    left: -100%;
    border-radius: 5px;
    animation: statusMessageAnime var(--transition02) linear forwards;
}

.fetch-api-error-container {
    flex-wrap: wrap;
}

.fetch-api-error-container>img {
    max-width: 350px;
    width: 100%;
}

.fetch-api-error-container>p {
    max-width: 400px;
    margin-top: 10px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
}

.fetch-api-error-container>p>button,
.fetch-api-error-container>p>a {
    cursor: pointer;
    background-color: transparent;
    font-weight: 600;
    border: none;
    text-decoration: none;
    padding: 0;
    color: var(--cta-outline-color);
    transition: var(--transition05);
}

.fetch-api-error-container>p>button:hover,
.fetch-api-error-container>p>button:focus,
.fetch-api-error-container>p>a:hover,
.fetch-api-error-container>p>a:focus {
    color: var(--cta-hover-color);
    text-decoration: underline;
}

@keyframes statusMessageAnime {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.user-action-status-container .message-icon {
    margin-right: 8px;
    font-size: 22px;
    flex-shrink: 0;
}

.user-action-status-container .message-text {
    margin-right: 23px;
}

.user-action-status-container button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: auto;
    background-color: inherit;
    color: inherit;
    border: none;
    border-radius: 50%;
    filter: brightness(0.9);
    flex-shrink: 0;
}

.user-action-status-error {
    background-color: var(--error-bg-color);
    color: var(--white-color);
}

.user-action-status-success {
    background-color: var(--success-bg-color);
    color: var(--secondary-color);
}

.loader-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 140px;
    font-size: 24px;
    font-weight: 600;
    color: var(--cta-outline-color);
    border-radius: 5px;
    margin-top: -38px;
}

.loader {
    position: relative;
    top: 0.63em;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    transform: rotateX(-90deg);
}

.loader1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.2s;
}

.loader2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.3s;
}

.loader3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.4s;
}

.loader4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.5s;

}

.loader5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.6s;
}

.loader6 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.7s;
}

.loader7 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }

    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    90% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        top: 6.94em
    }
}

.articles-main-container-heading {
    color: var(--primary-color);
    text-align: center;
    max-width: 1024px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 32px;
    position: relative;
}

.articles-main-container-heading::after {
    content: "";
    width: 100%;
    max-width: 200px;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-slight-light-color);
    border-radius: 50px;
}

.articles-main-container-heading::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(100% - 4px);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background-color: var(--secondary-slight-light-color);
    border-radius: 2px;
}

.updates-fixed-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 14;
    background-color: var(--box-bg-color);
    padding: 20px 10px;
    /* display: flex; */
    display: none;
}

.updates-parent-main-section {
    display: flex;
    width: 100%;
    max-width: 700px;
    max-height: 90vh;
    margin: auto;
    background-color: var(--white-color);
    padding: 0 0 20px;
    border-radius: 15px;
    animation: articleTransformAnime var(--transition02) linear;
}

@keyframes articleTransformAnime {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.updates-parent-main-section h3 {
    color: var(--primary-color);
    position: relative;
    text-align: left;
    font-size: 32px;
    padding: 30px 40px 30px 20px;
    border-bottom: 1px solid transparent;
    transition: var(--transition05);
}

.updates-parent-main-section h3.active-state {
    text-align: left;
    font-size: 24px;
    padding: 15px 40px 15px 20px;
    color: var(--cta-outline-color);
    border-bottom: 1px solid var(--cta-outline-color);
    transition: var(--transition05);
}

.updates-parent-main-section button {
    cursor: pointer;
    position: absolute;
    top: 13.5px;
    right: 15px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    outline: 2px solid transparent;
    border-radius: 50%;
    transition: var(--transition05);
}

.updates-parent-main-section button:hover,
.updates-parent-main-section button:focus {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    outline: 2px solid var(--primary-color);
}

.updates-parent-main-section button:active {
    transform: scale(0.95);
}

.updates-main-section {
    overflow: auto;
    padding-bottom: 10px;
    color: var(--secondary-color);
}

.updates-main-section::-webkit-scrollbar {
    width: 15px;
}

.updates-main-section::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border: 4px solid var(--white-color);
    border-radius: 150px;
}

.updates-main-section::-webkit-scrollbar-track {
    background-color: transparent;
}

.updates-main-section p {
    font-size: 18px;
    text-align: center;
    max-width: 350px;
    padding: 20px;
    margin: auto;
    margin-bottom: 60px;
}

p.update-main-section-desc {
    text-align: left;
    margin-left: 0;
}

.updates-section h5 {
    text-align: left;
    font-size: 22px;
    padding: 15px 25px;
    background-color: var(--white-color);
    transition: var(--transition05);
}

.updates-recent-releases-section h5 {
    border-bottom: 1px solid var(--green-shade-color);
    color: var(--green-shade-color);
}

.updates-beta-releases-section h5 {
    border-bottom: 1px solid var(--orange-shade-color);
    color: var(--orange-shade-color);
}

.updates-upcomming-releases-section h5 {
    border-bottom: 1px solid var(--blue-shade-color);
    color: var(--blue-shade-color);
}

.updates-future-releases-section h5 {
    border-bottom: 1px solid var(--pink-shade-color);
    color: var(--pink-shade-color);
}

.catched-up-with-section h5 {
    border-bottom: 1px solid var(--purple-shade-color);
    color: var(--purple-shade-color);
}

.catched-up-with-section a {
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
    border: none;
    text-decoration: none;
    padding: 0;
    color: var(--cta-outline-color);
    transition: var(--transition05);
}

.catched-up-with-section a:hover,
.catched-up-with-section a:focus {
    color: var(--cta-hover-color);
    text-decoration: underline;
}

.updates-section-details {
    padding: 10px 20px 60px;
}

.update-release-time {
    display: block;
    text-align: left;
    padding-left: 5px;
    margin-top: 12px;
    margin-bottom: 5px;
}

.catched-up-with-section img {
    margin-top: 40px;
}

.catched-up-with-section>p {
    max-width: 100%;
    padding: 20px;
}

@keyframes transformDropdown {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (min-width: 414px) {
    .articles-main-container-heading {
        font-size: 36px;
    }
}

@media only screen and (min-width: 592px) {
    .web-links .link-text {
        display: inline-block;
    }

    .updates-parent-main-section h3 {
        text-align: center;
    }

    p.update-main-section-desc {
        text-align: center;
        margin-left: auto;
    }
}

@media only screen and (min-width: 900px) {
    .fetch-api-error-container {
        flex-wrap: nowrap;
    }

    .fetch-api-error-container>p {
        margin-left: 40px;
    }
}

@media (prefers-reduced-motion) {
    :root {
        --transition02: 0;
        --transition03: 0;
        --transition05: 0;
    }
}