.fetch-api-error-container {
    margin-top: 130px;
}

.article-main-container {
    padding: 40px 20px;
    position: relative;
}

.article-main-container::after {
    content: "";
    width: 100%;
    height: 100%;
    max-height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background-color: var(--cta-color);
    z-index: -1;
}

.article-main-container-top-section,
.article-comments-parent-container {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

.article-type-container {
    padding: 5px 10px;
    background-color: var(--cta-mostlight-color);
    color: var(--secondary-color);
    border-radius: 5px;
    min-width: 75px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}

.article-title-container {
    color: var(--primary-color);
    font-size: 34px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.article-main-container-top-section h3 {
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: 400;
    margin-top: 5px;
}

.article-main-container-top-section h3 .article-creating-date-container {
    white-space: nowrap;
}

.article-main-container-top-section h3 .dot {
    font-size: 4px;
    color: var(--primary-color);
    margin: 0 10px;
}

.article-main-container-top-section h3 .article-author-container {
    font-weight: 500;
    word-break: break-word;
}

.article-main-container-top-section-extra-info {
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 300px;
}

.articles-container-info {
    margin: 20px;
}

.articles-container-info-points {
    color: var(--green-shade-color);
}

.articles-container-info-comments {
    color: var(--blue-shade-color);
}

.articles-container-info-icon {
    font-size: 25px;
    margin-right: 12px;
    margin-bottom: auto;
    margin-top: auto;
}

.articles-container-info-details span {
    width: 100%;
    text-align: left;
}

.articles-container-info-details span:last-child {
    font-weight: 500;
    max-width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.article-extra-details-container {
    margin-top: 20px;
    width: 100%;
    color: var(--secondary-color);
}

.article-extra-details-container a {
    color: var(--green-shade-color);
    transition: var(--transition05);
}

.article-extra-details-container a:hover,
.article-extra-details-container a:focus {
    color: var(--cta-hover-color);
}

a.article-extra-details-container-link {
    display: block;
    margin: auto;
    width: fit-content;
    font-weight: 500;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    transition: var(--transition05);
}

a.article-extra-details-container-link i {
    margin-left: 5px;
}

a.article-extra-details-container-link:hover,
a.article-extra-details-container-link:focus {
    color: var(--primary-color);
    background-color: var(--cta-light-color);
    border: 2px solid var(--primary-color);
    outline: 1px solid var(--primary-color);
}

.article-extra-details-container-link:active {
    transform: scale(0.95);
}

.article-extra-details-container .option-container {
    width: fit-content;
    margin: auto;
    max-width: 100%;
}

.article-extra-details-container .option-container div {
    margin-top: 10px;
    padding-bottom: 6px;
    padding-top: 2px;
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.article-extra-details-container .option-container div::-webkit-scrollbar {
    width: 5px;
}

.article-extra-details-container .option-container div::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 150px;
}

.article-extra-details-container .option-container div::-webkit-scrollbar-track {
    background-color: transparent;
}

.article-extra-details-container .option-container div button {
    font-size: 14px;
    margin: 0 5px;
    padding: 2px 11px;
    color: inherit;
    background-color: var(--cta-light-color);
    border: 1px solid var(--cta-outline-color);
    border-radius: 20px;
    text-transform: capitalize;
    white-space: nowrap;
}

.article-extra-details-container .option-container div button:first-child {
    margin: 0 5px 0 0;
}

.article-extra-details-container .option-container div button:last-child {
    margin: 0 0 0 5px;
}

/* --------------------------------------------------------------------------------------------- */

.article-share-container {
    position: relative;
    margin: 15px auto 0;
    font-size: 16px;
    width: fit-content;
}

.share-btn {
    cursor: pointer;
    margin: auto;
    width: fit-content;
    font-weight: 500;
    padding: 7px 12px;
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: var(--transition05);
}

.share-btn svg {
    display: inline-block;
    margin-right: 5px;
}

.share-btn:hover,
.share-btn:focus {
    color: var(--primary-color);
    background-color: var(--cta-light-color);
    border: 2px solid var(--primary-color);
    outline: 1px solid var(--primary-color);
}

.share-btn:active {
    transform: scale(0.95);
}

.share-options-container {
    display: none;
    max-width: 200px;
    min-width: 160px;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    background-color: var(--white-color);
    padding: 7px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-color) 0px 3px 8px;
    transform-origin: top left;
    animation: transformDropdown var(--transition02) linear;
}

.article-share-container.active-share-dropdown .share-options-container {
    display: flex;
}

.share-options-container .share-option {
    cursor: pointer;
    width: 100%;
    padding: 8px 14px 8px 7px;
    text-decoration: none;
    text-align: left;
    margin: 1px 0;
    background-color: var(--white-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    outline: none;
    transition: var(--transition05) background-color;
}

.share-options-container .share-option.more-share-option {
    position: relative;
}

.share-options-container .share-option.more-share-option::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 5px;
    width: calc(100% - 10px);
    border-top: 1px solid var(--secondary-light-color);
}

.share-options-container .share-option:hover,
.share-options-container .share-option:focus {
    color: var(--primary-color);
    background-color: var(--cta-mostlight-color);
}

.share-options-container .share-option:active {
    background-color: var(--cta-light-color);
}

.share-options-container .share-option svg {
    font-size: 18px;
    width: 25px;
    margin-right: 10px;
    text-align: center;
}

/* --------------------------------------------------------------------------------------------- */
.article-main-container-comment-section {
    max-width: 1024px;
    margin: auto;
    width: 100%;
}

.article-coments-main-container {
    margin-top: 50px;
    overflow-y: hidden;
    overflow-x: auto;
}

.article-coments-main-container .fetch-api-error-container {
    margin-top: 0;
}

.article-coments-main-container::-webkit-scrollbar {
    width: 5px;
}

.article-coments-main-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 150px;
    border: 5px solid var(--white-color);
}

.article-coments-main-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.article-coments-main-container ul {
    padding: 0;
    list-style: none;
}

.article-coments-main-container ul li {
    padding: 5px 0;
    margin: 5px 0;
    color: var(--secondary-color);
    font-size: 15px;
    position: relative;
    animation: commentAnime var(--transition03) linear;
    overflow-y: hidden;
    overflow-x: auto;
    min-width: 100px;
}

.article-coments-main-container ul li::-webkit-scrollbar {
    width: 5px;
}

.article-coments-main-container ul li::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 150px;
    border: 5px solid var(--white-color);
}

.article-coments-main-container ul li::-webkit-scrollbar-track {
    background-color: transparent;
}

@keyframes commentAnime {
    0% {
        top: 15px;
        opacity: 0.6;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

.article-coments-main-container ul li .comment-info {
    color: var(--secondary-slight-light-color);
    width: 100%;
    overflow: auto;
}

.article-coments-main-container ul li .comment-info::-webkit-scrollbar {
    display: none;
}

.article-coments-main-container ul li .comment-info span {
    position: relative;
    padding: 0 10px;
    border-right: 2px solid var(--secondary-light-color);
    white-space: nowrap;
}

.article-coments-main-container ul li .comment-info span:first-child {
    padding: 0 10px 0 0;
    color: var(--primary-color);
    font-weight: 500;
}

.article-coments-main-container ul li .comment-info span:nth-child(2) {
    color: var(--green-shade-color);
}

.article-coments-main-container ul li .comment-info span:nth-child(2) b {
    font-weight: 500;
}

.article-coments-main-container ul li .comment-info span:last-child {
    padding: 0 0 0 10px;
    border-right: none;
}

.article-coments-main-container ul li .comment-paragraph {
    margin-top: 4px;
    position: relative;
    color: var(--secondary-slight-light-color);
}

.article-coments-main-container ul li .comment-paragraph a {
    color: var(--green-shade-color);
    transition: var(--transition05);
}

.article-coments-main-container ul li .comment-paragraph a:hover,
.article-coments-main-container ul li .comment-paragraph a:focus {
    color: var(--cta-hover-color);
}

.article-coments-main-container ul li .comment-paragraph pre {
    overflow-y: hidden;
    overflow-x: auto;
    background-color: var(--cta-mostlight-color);
    border-radius: 5px;
    padding: 3px 5px 6px;
}

.article-coments-main-container ul li .comment-paragraph pre::-webkit-scrollbar {
    width: 5px;
}

.article-coments-main-container ul li .comment-paragraph pre::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 150px;
    border: 5px solid var(--cta-mostlight-color);
}

.article-coments-main-container ul li .comment-paragraph pre::-webkit-scrollbar-track {
    background-color: transparent;
}

.article-coments-main-container ul li button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    color: var(--secondary-color);
    border: 2px solid transparent;
    transition: var(--transition05);
    margin-top: 3px;
    white-space: nowrap;
}

.article-coments-main-container ul li button.active {
    color: var(--primary-color);
}

.article-coments-main-container ul li button:hover,
.article-coments-main-container ul li button:focus {
    background-color: var(--cta-light-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.article-coments-main-container ul li button:active {
    transform: scale(0.95);
}

.article-coments-main-container ul li button i {
    transform: rotate(180deg);
}

.sub-level-comment {
    border-radius: 5px;
    position: relative;
    padding-left: 16px;
    display: none;
}

.sub-level-comment::after {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--cta-light-color);
    border-radius: 5px;
    transition: var(--transition05);
}

.sub-level-comment:hover::after {
    width: 4px;
    background-color: var(--cta-color);
}

/* --------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 414px) {}

@media only screen and (min-width: 592px) {
    .article-main-container-top-section h3 {
        font-size: 18px;
    }

    .article-coments-main-container ul li {
        position: relative;
        padding: 10px 0;
    }
}

@media only screen and (min-width: 670px) {
    .article-title-container {
        font-size: 38px;
    }

    .article-main-container {
        padding: 60px 40px;
    }
}

@media only screen and (min-width: 900px) {}

@media only screen and (min-width: 1080px) {}