.search-heading-container{
    position: relative;
    width: 100%;
    height: 350px;
}
.search-heading-container::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background-color: var(--cta-color);
    z-index: -1;
}
.search-heading-container h1{
    mix-blend-mode: color;
    font-size: 81px;
    border: 4px solid;
    padding: 5px 8px;
}
.search-heading-parent-container p{
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    max-width: 600px;
    margin-left: auto;
    margin-top: -34px;
    padding: 20px;
}
.search-input-parent-container{
    position: relative;
    height: 400px;
}
.search-input-container{
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    position: relative;
    margin: 80px auto 45px;
}

.search-input-parent-container::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: var(--cta-color);
    z-index: -1;
}
.search-input-parent-container::before {
    content: "";
    width: 100%;
    height: 66px;
    position: absolute;
    left: 0;
    top: calc(100% - 0.5px);
    background-color: var(--cta-color);
    z-index: -1;
}
.search-input-container input {
    width: 100%;
    padding: 14px 4px 14px 50px;
    font-size: 16px;
    border-radius: 50px;
    background-color: var(--cta-mostlight-color);
    color: var(--primary-color);
    border: 2px solid var(--cta-color);
    outline: 2px solid transparent;
    transition: 0.5s;
}
.search-input-container input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 32px;
    width: 32px;
    border-radius: 50em;
    background: url(../Images/Icons/black-close-icon.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

.search-input-container input:focus::-webkit-search-cancel-button {
    opacity: 1;
    pointer-events: all;
}
.search-input-container input:focus {
    outline: 2px solid var(--cta-color);
    background-color: var(--white-color);
}

.seach-icon-container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 37px;
    font-size: 22px;
    color: var(--cta-color);
}
/* -----------------------------------------------------------------------   */
.search-applied-filters-parent-container{
    position: absolute;
    top: calc(100% - 11px);
    left: 0;
    width: 100%;
    padding: 0 40px;
}
.search-applied-filters-parent-container h3{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 6px;
}
.search-applied-filters-btn{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    background-color: var(--cta-mostlight-color);
    color: var(--secondary-color);
    border: 1px solid var(--cta-hover-color);
    border-radius: 20px;
}
.search-applied-filters-type{
    margin-right: 8px;
    font-size: 11px;
    color: var(--secondary-light-color);
}
.search-applied-filters-btn-close{
    margin-left: 8px;
    color: var(--secondary-light-color);
}
/* -----------------------------------------------------------------------   */
.filter-search-parent-container{
    margin-top: -6px;
}
.filter-search-parent-container h3{
    text-align: center;
    font-size: 34px;
    transform: translateY(-30px);
}
.filter-search-container{
    max-width: 500px;
    margin: auto;
    padding: 0 10px;
    flex-wrap: wrap;
}
.filter-search-types-container{
    position: relative;
    margin: 5px 10px;
    font-size: 16px;
}

.filter-btn{
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--secondary-color);
    border-radius: 5px;
    white-space: nowrap;
    min-width: 75px;
    border: 2px solid var(--secondary-color);
    margin: auto;
    font-weight: 500;
    transition: var(--transition05);
}
.filter-btn:hover,.filter-btn:focus{
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
    border: 2px solid var(--primary-color);
}
.filter-dropdown{
    display: none;
    max-width: 200px;
    min-width: 160px;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    background-color: var(--white-color);
    padding: 12px 0;
    border-radius: 5px;
    box-shadow: var(--box-shadow-color) 0px 3px 8px;
    transform-origin: top left;
    animation: transformDropdown var(--transition02) linear;
}
.filter-dropdown-right-aligned{
    left: auto;
    right: -1px;
    transform-origin: top right;
}
@keyframes transformDropdown {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
.filter-search-types-container.active-filter-dropdown .filter-dropdown{
    display: flex;
}
.filter-dropdown>button, .filter-dropdown input{
    cursor: pointer;
    width: 100%;
    padding: 8px 14px;
    margin: 2px;
    text-transform: capitalize;
    text-align: left;
    background-color: var(--white-color);
    color: var(--secondary-color);
    border: none;
    border-left: 3px solid transparent;
    outline: none;
    transition: var(--transition05) background-color;
}
.filter-dropdown input::-webkit-input-placeholder{
    color: var(--secondary-color);
}

.filter-dropdown>button:hover,.filter-dropdown>button:focus,.filter-dropdown input:hover,.filter-dropdown input:focus{
    color: var(--primary-color);
    background-color: var(--cta-mostlight-color);
    border-left: 3px solid var(--primary-color);
}
.filter-dropdown-special-btn button{
    cursor: pointer;
    min-width: 70px;
    display: block;
    font-weight: 600;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 8px;
    background-color:  transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    transition: var(--transition05);
}
.filter-dropdown-special-btn button:hover,.filter-dropdown-special-btn button:focus{
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
}
/* -----------------------------------------------------------------------   */

@media only screen and (min-width: 414px) {
    .filter-dropdown{
        min-width: 180px;
    }
    .filter-dropdown-right-aligned{
        left: -1px;
        right: auto;
        transform-origin: top left;
    }
}
@media only screen and (min-width: 592px) {
    .search-input-container input {
        padding: 18px 4px 18px 50px;
    }
    
}

@media only screen and (min-width: 670px) {}

@media only screen and (min-width: 900px) {}

@media only screen and (min-width: 1080px) {}