.search-heading-container {
    position: relative;
    width: 100%;
    height: 300px;
}

.search-heading-container::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background-color: var(--cta-color);
    z-index: -1;
}

.search-heading-container h1 {
    mix-blend-mode: color;
    font-size: 81px;
    border: 4px solid;
    padding: 5px 8px;
}

.search-heading-parent-container p {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-top: -34px;
    padding: 20px;
}

.search-input-parent-container {
    position: relative;
    height: 300px;
}

.search-input-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    position: relative;
    margin: 80px auto 45px;
}

.search-input-parent-container::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: var(--cta-color);
    z-index: -1;
}

.search-input-parent-container::before {
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: calc(100% - 0.5px);
    background-color: var(--cta-color);
    z-index: -1;
}

.search-input-container input {
    width: 100%;
    padding: 14px 10px 14px 50px;
    font-size: 16px;
    border-radius: 50px;
    background-color: var(--cta-mostlight-color);
    color: var(--primary-color);
    border: 2px solid var(--cta-color);
    outline: 2px solid transparent;
    transition: 0.5s;
}

.search-input-container input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 32px;
    width: 32px;
    border-radius: 50em;
    background: url(../Images/Icons/black-close-icon.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

.search-input-container input:focus::-webkit-search-cancel-button {
    opacity: 1;
    pointer-events: all;
}

.search-input-container input:focus {
    outline: 2px solid var(--cta-color);
    background-color: var(--white-color);
}

.seach-icon-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 37px;
    font-size: 22px;
    color: var(--cta-color);
}

/* -----------------------------------------------------------------------   */
.search-applied-filters-parent-container {
    position: absolute;
    top: calc(100% - 11px);
    left: 0;
    width: 100%;
    padding: 0 40px;
}

.search-applied-filters-parent-container h3 {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 6px;
}

.search-applied-filters-container {
    overflow: auto;
    padding-bottom: 6px;
    padding-top: 2px;
}

.search-applied-filters-container::-webkit-scrollbar {
    width: 5px;
}

.search-applied-filters-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 150px;
    border: 5px solid var(--cta-color);
}

.search-applied-filters-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.search-applied-filters-btn {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin: 0 5px;
    padding: 4px 10px;
    background-color: var(--cta-mostlight-color);
    color: var(--secondary-color);
    outline: 2px solid transparent;
    border: 1px solid var(--cta-hover-color);
    border-radius: 20px;
    text-transform: capitalize;
    transition: var(--transition05);
}

.search-applied-filters-btn:hover,
.search-applied-filters-btn:focus {
    color: var(--primary-color);
    outline: 2px solid var(--cta-outline-color);
}
.search-applied-filters-btn:active{
   transform: scale(0.95);
}

.search-applied-filters-btn:hover .search-applied-filters-btn-close,
.search-applied-filters-btn:focus .search-applied-filters-btn-close {
    color: var(--cta-hover-color);
}

.search-applied-filters-type {
    margin-right: 8px;
    font-size: 11px;
    color: var(--secondary-light-color);
}

.search-applied-filters-btn-close {
    margin-left: 8px;
    color: var(--secondary-light-color);
}

/* -----------------------------------------------------------------------   */
.filter-search-parent-container {
    margin-top: -6px;
}

.filter-search-parent-container h3 {
    text-align: center;
    font-size: 24px;
}

.filter-search-container {
    margin: auto;
    padding: 0 10px 15px 0;
    flex-wrap: wrap;
    background-color: var(--cta-color);
}

.filter-search-types-container {
    position: relative;
    margin: 5px 10px;
    font-size: 16px;
}

.filter-btn {
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--secondary-color);
    border-radius: 5px;
    white-space: nowrap;
    min-width: 75px;
    border: 2px solid var(--secondary-color);
    margin: auto;
    font-weight: 500;
    transition: var(--transition05);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
    border: 2px solid var(--primary-color);
}

.filter-dropdown {
    display: none;
    max-width: 200px;
    min-width: 160px;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    background-color: var(--white-color);
    padding: 12px 0;
    border-radius: 5px;
    box-shadow: var(--box-shadow-color) 0px 3px 8px;
    transform-origin: top left;
    animation: transformDropdown var(--transition02) linear;
}

.filter-dropdown-right-aligned {
    left: auto;
    right: -1px;
    transform-origin: top right;
}

@keyframes transformDropdown {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.filter-search-types-container.active-filter-dropdown .filter-dropdown {
    display: flex;
}

.filter-dropdown>button,
.filter-dropdown input {
    cursor: pointer;
    width: 100%;
    padding: 8px 14px;
    text-transform: capitalize;
    text-align: left;
    background-color: var(--white-color);
    color: var(--secondary-color);
    border: none;
    border-left: 3px solid transparent;
    outline: none;
    transition: var(--transition05) background-color;
}

.filter-dropdown>button {
    margin: 2px;
}

.filter-dropdown input::-webkit-input-placeholder {
    color: var(--secondary-color);
}

.filter-dropdown>button:hover,
.filter-dropdown>button:focus,
.filter-dropdown input:hover,
.filter-dropdown input:focus {
    color: var(--primary-color);
    background-color: var(--cta-mostlight-color);
    border-left: 3px solid var(--primary-color);
}

.filter-dropdown-special-btn-container button {
    cursor: pointer;
    min-width: 70px;
    display: none;
    font-weight: 600;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 8px;
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    transition: var(--transition05);
}

.filter-dropdown-special-btn-container button:hover,
.filter-dropdown-special-btn-container button:focus {
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
}

.filter-search-clear-filter {
    display: none;
}

/* -----------------------------------------------------------------------   */

.articles-main-container-sub-heading {
    display: none;
    text-align: center;
    max-width: 1024px;
    font-weight: 400;
    font-size: 18px;
    margin: auto;
}

.articles-main-container {
    flex-wrap: wrap;
    padding: 20px;
}

.articles-main-container>p>button:hover,
.articles-main-container>p>button:focus,
.articles-main-container>p>a:hover,
.articles-main-container>p>button:focus {
    text-decoration: underline;
    color: var(--cta-hover-color);
}

.articles-container {
    --article-color: var(--secondary-color);
    cursor: pointer;
    width: 100%;
    min-width: 100%;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    background: rgb(182 179 179 / 10%);
    color: var(--article-color);
    border: 2px solid var(--article-color);
    outline: 3px solid transparent;
    border-radius: 20px;
    transition: var(--transition05);
    animation: articleTransformAnime var(--transition02) linear;
}

@keyframes articleTransformAnime {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.articles-container:hover,
.articles-container:focus {
    outline: 3px solid var(--article-color);
}

.articles-container:active {
    transform: scale(0.97);
}

.articles-container h3 {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.articles-container .articles-container-created-date {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 0 0 20px;
    opacity: 0.8;
}

.articles-container-info-main {
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

.articles-container-info {
    margin: 0 10px;
    flex-direction: column;
}

.articles-container-info:first-child {
    margin: 0 10px 0 0;
}

.articles-container-info:last-child {
    margin: 0 0 0 10px;
}

.articles-container-info-author {
    color: var(--pink-shade-color);
}

.articles-container-info-points {
    color: var(--green-shade-color);
}

.articles-container-info-comments {
    color: var(--blue-shade-color);
}

.articles-container-info-icon {
    font-size: 25px;
    margin-bottom: auto;
    margin-top: auto;
}

.articles-container-info-details span {
    width: 100%;
    text-align: left;
}

.articles-container-info-details span:first-child {
    display: none;
}

.articles-container-info-details span:last-child {
    font-weight: 500;
    max-width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.articles-container-tags-main {
    width: 100%;
    margin-top: 20px;
}

.articles-container-tags-main-container {
    margin-left: 10px;
    padding: 2px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.articles-container-tags-main-container::-webkit-scrollbar {
    display: none;
}

.articles-container-tags-main-container button {
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
    padding: 2px 11px;
    color: inherit;
    background-color: var(--white-color);
    border: 1px solid var(--article-color);
    border-radius: 20px;
    text-transform: capitalize;
    transition: var(--transition05);
}

.articles-container-tags-main-container button:hover,
.articles-container-tags-main-container button:focus {
    background-color: white;
    outline: 1px solid var(--article-color);
    filter: brightness(0.9);
}

/* -----------------------------------------------------------------------   */
.articles-main-container-pagination button {
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    color: var(--secondary-color);
    background-color: var(--cta-mostlight-color);
    margin: 0 4px;
    transition: var(--transition05);
}

.articles-main-container-pagination button:hover,
.articles-main-container-pagination button:focus {
    border: 1px solid var(--cta-hover-color);
    color: var(--primary-color);
    background-color: var(--cta-mostlight-color);
}

.articles-main-container-pagination button:active {
    transform: scale(0.95);
    background-color: var(--cta-light-color);
}

.articles-main-container-pagination button.active-pagination {
    color: var(--primary-color);
    background-color: var(--cta-light-color);
}

.articles-main-container-pagination {
    margin-bottom: 100px;
    display: none;
}

/* -----------------------------------------------------------------------   */

@media only screen and (min-width: 414px) {
    .filter-dropdown {
        min-width: 180px;
    }

    .filter-dropdown-right-aligned {
        left: -1px;
        right: auto;
        transform-origin: top left;
    }

    .articles-container-info-details span:first-child {
        display: block;
    }

    .articles-container-info-main {
        justify-content: space-around;
    }

    .articles-container-info {
        flex-direction: row;
    }

    .articles-container-info-icon {
        margin-right: 12px;
    }
}

@media only screen and (min-width: 592px) {
    .search-input-container input {
        padding: 18px 10px 18px 50px;
    }

    .filter-search-container {
        padding: 0 10px;
        background-color: transparent;
    }

    .articles-container h3 {
        width: 100%;
        font-size: 20px;
    }

    .articles-container-info {
        margin: 0 20px;
    }

    .articles-container-info:first-child {
        margin: 0 20px 0 0;
    }

    .articles-container-info:last-child {
        margin: 0 0 0 20px;
    }
}

@media only screen and (min-width: 670px) {
    .articles-container {
        min-width: auto;
        max-width: 400px;
        margin: 20px;
    }
}

@media only screen and (min-width: 900px) {

}

@media only screen and (min-width: 1080px) {}