.navbar-top {
    height: 1px;
}

.navbar-container {
    background-color: var(--cta-color);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: none;
    transition: var(--transition05);
}

.active-stucked {
    box-shadow: var(--box-shadow-color) 0px 4px 6px;
    padding: 0;
}

nav {
    max-width: 1024px;
    margin: auto;
    padding: 5px 8px;
    height: 66px;
    transition: var(--transition05);
}

.company-logo-container {
    --company-text: "QR";
    font-size: 30px;
    color: var(--primary-color);
    margin: 0;
}

.company-logo-container .company-logo {
    font-size: 35px;
    position: relative;
}

.company-logo-container::after {
    content: var(--company-text);
    position: relative;
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
    max-width: 30vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: var(--transition05);
}

.company-logo-container .company-name {
    display: none;
}

.dropdown-menu-container {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--white-color);
    height: 100%;
    max-height: 100vh;
    width: 100%;
    max-width: 280px;
    overflow: auto;
    padding: 5px 7px;
    z-index: 1;
    transition: var(--transition05);
}

.dropdown-menu-container.active-menu {
    right: 0;
}

.dropdown-menu-container~.dropdown-menu-container-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--box-bg-color);
    display: none;
}

.dropdown-menu-container.active-menu~.dropdown-menu-container-layer {
    display: block;
}

.dropdown-menu-container .web-links {
    border-radius: 6px;
    width: 100%;
    margin: 2px 0;
    justify-content: flex-start;
}

.dropdown-menu-container .web-links .link-text {
    display: block;
}

.dropdown-menu-container .close-modal-btn {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: auto;
    margin-bottom: 10px;
}

.user-dropdown-menu-container {
    position: relative;
}

.user-modal-btn .link-text {
    max-width: 100%;
}

.user-dropdown-menu-container .user-dropdown-content-container {
    display: none;
    background-color: transparent;
    border-radius: 8px;
    width: 100%;
    min-width: 225px;
    padding: 7px;
    animation: maxHeightAnime282 var(--transition03) linear;
}

.user-dropdown-menu-container.active-submenu {
    background-color: var(--cta-light-color);
    border-radius: 8px;
}

.user-dropdown-menu-container.active-submenu .user-modal-btn {
    background-color: var(--cta-hover-color);
    border-radius: 8px 8px 0 0;
}

.user-dropdown-menu-container.active-submenu .user-dropdown-content-container {
    display: block;
}

@keyframes maxHeightAnime282 {
    0% {
        max-height: 0;
        overflow: hidden;
    }

    100% {
        max-height: 282px;
        overflow: hidden;
    }
}

.user-dropdown-menu-container .user-dropdown-content-container>.web-links:first-child {
    margin-top: 0;
}

.theme-dropdown-menu-container {
    border-radius: 8px;
}

.theme-dropdown-menu-container.active-submenu {
    background-color: var(--cta-mostlight-color);
}

.theme-dropdown-menu-container.active-submenu .theme-modal-btn {
    background-color: var(--cta-color);
    border-radius: 8px 8px 0 0;
}

.theme-dropdown-menu-container .theme-dropdown-content-container {
    display: none;
    padding: 5px 7px;
    animation: maxHeightAnime138 var(--transition03) linear;
}

.theme-dropdown-menu-container.active-submenu .theme-dropdown-content-container {
    display: block;
}

@keyframes maxHeightAnime138 {
    0% {
        max-height: 0;
        overflow: hidden;
    }

    100% {
        max-height: 138px;
        overflow: hidden;
    }
}

.theme-dropdown-menu-container .theme-dropdown-content-container .theme-btn.active-theme {
    background-color: var(--cta-hover-color);
    color: var(--primary-color);
}

.bottom-link-container {
    display: flex;
    margin-top: 15px;
    margin-bottom: 4px;
    width: 100%;
    justify-content: space-between;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
}

.bottom-link-container .web-links {
    width: fit-content;
    height: auto;
}

.bottom-link-container .web-links:last-child {
    outline: 2px solid var(--secondary-color);
    outline-offset: -2px;
}

.bottom-link-container .web-links:last-child:hover,
.bottom-link-container .web-links:last-child:focus {
    outline: 2px solid var(--cta-outline-color);
    outline-offset: -2px;
}

.bottom-link-container .web-links:last-child:active {
    outline-offset: 0;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: flex;
}

/* ---------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------- */

@media only screen and (min-width: 414px) {
    nav {
        padding: 5px 10px;
    }
}

@media only screen and (min-width: 592px) {}

@media only screen and (min-width: 670px) {
    .company-logo-container {
        --company-text: "Quality Reads";
    }
}

@media only screen and (min-width: 900px) {
    .company-logo-container::after {
        max-width: 500px;
    }

    .desktop-only {
        display: flex;
    }

    .mobile-only {
        display: none;
    }

    .dropdown-menu-container.active-menu~.dropdown-menu-container-layer {
        display: none;
    }

    .user-dropdown-content-container {
        position: absolute;
        right: 0;
        top: calc(100% + 10px);
        background-color: var(--white-color);
        box-shadow: var(--box-shadow-color) 0px 3px 8px;
    }

    .user-modal-btn .link-text {
        max-width: 100px;
    }

    .user-dropdown-menu-container .user-modal-btn {
        border: 2px solid var(--secondary-color);
        border-radius: 50px;
        padding: 5px;
        position: relative;
    }

    .user-dropdown-menu-container.active-submenu {
        background-color: transparent;
    }

    .user-dropdown-menu-container.active-submenu .user-modal-btn {
        background-color: var(--white-color);
        border: 2px solid var(--white-color);
        border-radius: 50px;
    }

    .user-modal-btn::after {
        content: "";
        display: none;
        position: absolute;
        top: calc(100% - 4px);
        left: 50%;
        transform: translateX(-50%);
        border: 8px solid transparent;
        border-bottom-color: var(--white-color);
        z-index: 1;
        pointer-events: none;
    }

    .user-dropdown-menu-container.active-submenu .user-modal-btn::after {
        display: block;
    }

    .user-modal-btn:hover,
    .user-modal-btn:focus {
        border: 2px solid var(--primary-color);
    }

    .user-dropdown-menu-container.active .user-modal-btn:focus {
        border: 3px solid var(--white-color);
        background-color: var(--white-color);
    }

    .user-dropdown-menu-container .user-dropdown-content-container {
        background-color: var(--white-color);
    }

    .dropdown-menu-container {
        position: initial;
        top: initial;
        right: initial;
        background-color: initial;
        height: initial;
        max-height: initial;
        width: initial;
        max-width: initial;
        overflow: initial;
        padding: initial;
        z-index: initial;
    }

    .theme-dropdown-menu-container.active-submenu {
        background-color: var(--cta-light-color);
    }

    .theme-dropdown-menu-container.active-submenu .theme-modal-btn {
        background-color: var(--cta-hover-color);
        border-radius: 8px 8px 0 0;
    }
}

@media only screen and (min-width: 1080px) {
    .company-logo-container::after {
        max-width: 600px;
    }
}