.square-heading-container {
    height: 200px;
}

.quotes-main-parent-container {
    padding: 20px;
}

.quotes-main-container {
    max-width: 440px;
    border: 4px solid var(--primary-color);
    border-radius: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    transition: 0.5s;
}

.quotes-main-container.error-occured {
    max-width: 900px;
    padding-bottom: 20px;
}

.quotes-container {
    position: relative;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 39px 20px 10px;
    margin-left: auto;
    margin-right: auto;
    transition: var(--transition05);
    animation: quoteTransformAnime var(--transition05) ease-in-out;
    border-radius: 0 0 30px 30px;
}

@keyframes quoteTransformAnime {
    0% {
        opacity: 0;
        /* transform: translateY(100%); */
    }

    100% {
        opacity: 1;
        /* transform: translateY(0); */
    }
}


.bookmark-quote {
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 7px;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    color: var(--white-color);
    background-color: transparent;
    transition: var(--transition05);
}

.bookmark-quote:hover,
.bookmark-quote:focus {
    background-color: var(--secondary-slight-light-color);
}

.quote-text {
    color: var(--white-color);
    text-align: left;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

.quote-author {
    color: var(--secondary-light-color);
    text-align: left;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.quote-bottom-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

/* ------------------------------------------------------------ */
.option-btn {
    cursor: pointer;
    width: fit-content;
    font-weight: 500;
    padding: 7px 12px;
    background-color: transparent;
    color: var(--white-color);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: var(--transition05);
}

.option-btn svg {
    display: inline-block;
    margin-right: 5px;
}

.option-btn:hover,
.option-btn:focus {
    background-color: var(--secondary-slight-light-color);
}

.option-btn:active {
    transform: scale(0.95);
}

.share-options-container {
    display: none;
    max-width: 200px;
    max-height: 235px;
    min-width: 160px;
    overflow: auto;
    position: absolute;
    bottom: 9px;
    left: 19px;
    z-index: 1;
    background-color: var(--white-color);
    padding: 7px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-color) 0px 3px 8px;
    transform-origin: bottom left;
    animation: transformDropdown var(--transition02) linear;
}

.quote-share-container.active-share-dropdown .share-options-container {
    display: flex;
}

.share-options-container::-webkit-scrollbar {
    width: 10px;
}

.share-options-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 150px;
    border: 3px solid var(--white-color);
}

.share-options-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.share-options-container .dropdown-type-text {
    color: var(--secondary-color);
}

.share-options-container .share-option {
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    padding: 8px 14px 8px 7px;
    text-decoration: none;
    text-align: left;
    margin: 1px 0;
    background-color: var(--white-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    outline: none;
    transition: var(--transition05) background-color;
}

.share-options-container .share-option .share-option-text {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.share-options-container .share-option.more-share-option {
    position: relative;
}

.share-options-container .share-option.more-share-option::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 5px;
    width: calc(100% - 10px);
    border-top: 1px solid var(--secondary-light-color);
}

.share-options-container .share-option:hover,
.share-options-container .share-option:focus {
    color: var(--primary-color);
    background-color: var(--cta-mostlight-color);
}

.share-options-container .share-option:active {
    background-color: var(--cta-light-color);
}

.share-options-container .share-option svg {
    font-size: 18px;
    width: 25px;
    margin-right: 10px;
    text-align: center;
    flex-shrink: 0;
}

/* ------------------------------------------------------------ */

.quote-type-parent-container {
    padding: 20px;
}

.quote-type-container {
    width: fit-content;
    max-width: 100%;
    margin: auto;
    padding: 6px;
    border-radius: 100px;
    background-color: var(--primary-color);
    display: flex;
    flex-shrink: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}

.quote-type-container::-webkit-scrollbar {
    display: none;
}

.quote-type-container button {
    padding: 4px 14px;
    border-radius: 100px;
    border: none;
    color: var(--white-color);
    background-color: transparent;
    cursor: pointer;
    margin-right: 3px;
    flex-shrink: 0;
    font-weight: 400;
    transition: var(--transition05);
}

.quote-type-container button:hover,
.quote-type-container button:focus {
    background-color: var(--secondary-slight-light-color);
}

.quote-type-container button:last-child {
    margin-right: 0;
}

.quote-type-container button.active-quote-type {
    background-color: var(--white-color);
    color: var(--primary-color);
    font-weight: 500;
}

/* ------------------------------------------------------------ */

.quote-timer-bar-container {
    background-color: var(--secondary-light-color);
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.quote-timer-bar {
    --timer-bar-timer: 60s;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: 0.5s;
    animation: timerBarWidthAnime var(--timer-bar-timer) linear;
}

@keyframes timerBarWidthAnime {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.quote-extra-button {
    cursor: pointer;
    position: absolute;
    top: -4px;
    right: -4px;
    height: 30px;
    width: 30px;
    border-radius: 70px;
    border: none;
    color: var(--white-color);
    background-color: var(--primary-color);
    z-index: 2;
    transition: var(--transition05);
    outline: 3px solid var(--white-color);
}
.quote-info-button {
    left: -6px;
    right: auto;
}

.quote-extra-button:hover,
.quote-extra-button:focus {
    transform: scale(1.1);
}

.quote-extra-parent-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 35px;
    background-color: var(--primary-color);
    z-index: 1;
    padding: 20px;
    padding-right: 0;
    display: none;
    animation: heightWidthTopRightAnime var(--transition03) linear;
}
.quote-info-parent-container{
    left: 0;
    right: auto;
    animation: heightWidthTopLeftAnime var(--transition03) linear;
}
.quote-extra-parent-container.active-extra {
    display: block;
}

@keyframes heightWidthTopRightAnime {
    0% {
        width: 0%;
        height: 0%;
        border-radius: 100px 0 100px 100px;
    }

    100% {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
}
@keyframes heightWidthTopLeftAnime {
    0% {
        width: 0%;
        height: 0%;
        border-radius: 0 100px 100px 100px;
    }

    100% {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
}

.quote-extra-container {
    overflow: auto;
    max-height: 100%;
    padding-right: 20px;
    animation: settingVisibilityAnime var(--transition05) linear;
}
.quote-extra-container::-webkit-scrollbar {
    width: 5px;
}

.quote-extra-container::-webkit-scrollbar-thumb {
    background-color: var(--white-color);
    border-radius: 150px;
}

.quote-extra-container::-webkit-scrollbar-track {
    background-color: transparent;
}
@keyframes settingVisibilityAnime {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    99% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

.quote-extra-parent-container h3 {
    font-size: 24px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
}

.quote-extra-parent-container .text {
    font-size: 16px;
    color: var(--secondary-light-color);
    margin-top: 10px;
    display: inline-block;
}

.quote-extra-parent-container .settings-timer-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
}

.quote-extra-parent-container .settings-timer-container button {
    cursor: pointer;
    background-color: transparent;
    color: var(--white-color);
    margin: 3px 5px;
    border-radius: 5px;
    white-space: nowrap;
    border: 2px solid var(--white-color);
    transition: var(--transition05);
}

.quote-extra-parent-container .settings-timer-container button:hover,
.quote-extra-parent-container .settings-timer-container button:focus {
    background-color: var(--white-color);
    color: var(--secondary-color);
    font-weight: 500;
}

.quote-extra-parent-container .settings-timer-container button.active-timer {
    color: var(--cta-color);
    border: 2px solid var(--cta-color);
    background-color: transparent;
}

/* ------------------------------------------------------------ */