<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker News Search Engine | Aman</title>
    <link rel="icon" type="image/x-icon" href="../Images/Icons/hacker-news-logo.svg">
    <link rel="stylesheet" href="../CSS/Base.css">
    <link rel="stylesheet" href="../CSS/Navbar.css">
    <link rel="stylesheet" href="../CSS/Footer.css">
    <link rel="stylesheet" href="../CSS/Details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/26b04b0eef.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="canonical" href="https://hn.in/" />
    <meta name="description"
        content="A tool to search the articles from hacker news based on various tags, queries, date, author">
    <meta property="og:title" content="Article | Aman">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://hn.in/">
    <meta property="og:url" content="https://hn.in/">
    <meta name="twitter:card" content="summary">
    <meta property="og:description" content="FreeFlow">
    <meta property="og:site_name" content="Odanta">
    <meta name="twitter:image:alt" content="Odanta logo">
</head>

<body>
    <navbar-component></navbar-component>
    <updates-component></updates-component>
    <main>
        <div class="loader-container">
            <div>
                <span class="loader loader1">l</span>
                <span class="loader loader2">o</span>
                <span class="loader loader3">a</span>
                <span class="loader loader4">d</span>
                <span class="loader loader5">i</span>
                <span class="loader loader6">n</span>
                <span class="loader loader7">g</span>
            </div>
        </div>
    </main>
    <footer-component></footer-component>
    <script src="../../Cotroller/JS/Dom/Navbar.js"></script>
    <script src="../../Cotroller/JS/Dom/Updates.js"></script>
    <script src="../../Cotroller/JS/Dom/Footer.js"></script>
    <script src="../../Cotroller/JS/Base.js"></script>
    <script src="../../Cotroller/JS/Details.js"></script>
</body>

</html>