<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker News Search Engine | Aman</title>
    <link rel="icon" type="image/x-icon" href="../Images/Icons/hacker-news-logo.svg">
    <link rel="stylesheet" href="../CSS/Base.css">
    <link rel="stylesheet" href="../CSS/Navbar.css">
    <link rel="stylesheet" href="../CSS/Index.css">
    <link rel="stylesheet" href="../CSS/Footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/26b04b0eef.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="canonical" href="https://hn.in/" />
    <meta name="description"
        content="A tool to search the articles from hacker news based on various tags, queries, date, author">
    <meta property="og:title" content="Hacker News Search Engine | Aman">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://hn.in/">
    <meta property="og:url" content="https://hn.in/">
    <meta name="twitter:card" content="summary">
    <meta property="og:description" content="FreeFlow">
    <meta property="og:site_name" content="Odanta">
    <meta name="twitter:image:alt" content="Odanta logo">
</head>

<body>
    <navbar-component></navbar-component>
    <main>
        <div class="search-heading-parent-container d-flex d-flex-dir-col d-flex-just-cent">
            <div class="search-heading-container d-flex d-flex-just-cent">
                <h1>Search</h1>
            </div>
            <p>Search for <b>Hacker News</b> articles with our faster API so that you are always updated about the
                world around you.</p>
        </div>
        <div class="search-input-parent-container d-flex d-flex-just-cent" id="search-input-parent-container">
            <div class="search-input-container d-flex d-flex-just-cent">
                <span class="seach-icon-container">
                    <span class="seach-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <span class="seach-icon-text hidden-ele">Search Icon</span>
                </span>
                <input type="search" name="search-input" id="search-input" placeholder="Search for articles">
                <div class="search-applied-filters-parent-container">
                    <h3><i class="fa-solid fa-arrow-down"></i> Applied filters</h3>
                    <div class="search-applied-filters-container d-flex">
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-search-parent-container">
            <h3>Search based on</h3>
            <div class="filter-search-container d-flex d-flex-just-cent">
                <div class="filter-search-types-container filter-search-tags d-flex d-flex-dir-col"
                    data-filter-type="tags">
                    <button class="filter-btn">Tag</button>
                    <div class="filter-dropdown tags-dropdown d-flex d-flex-dir-col">
                        <button class="filter-dropdown-btn" data-option-value="story">story</button>
                        <button class="filter-dropdown-btn" data-option-value="poll">poll</button>
                        <button class="filter-dropdown-btn" data-option-value="job">job</button>
                        <button class="filter-dropdown-btn" data-option-value="ask_hn">Ask HN</button>
                        <button class="filter-dropdown-btn" data-option-value="show_hn">Show HN</button>
                        <div class="filter-dropdown-special-btn-container" data-option-value="">
                            <input type="text" placeholder="Other" maxlength="30">
                            <button class="filter-dropdown-special-btn">Add</button>
                        </div>
                    </div>
                </div>
                <div class="filter-search-types-container filter-search-author d-flex d-flex-dir-col"
                    data-filter-type="author">
                    <button class="filter-btn">Author</button>
                    <div class="filter-dropdown author-dropdown filter-dropdown-right-aligned d-flex d-flex-dir-col">
                        <div class="filter-dropdown-special-btn-container" data-option-value="">
                            <input type="text" placeholder="Author name" maxlength="30">
                            <button class="filter-dropdown-special-btn">Add</button>
                        </div>
                    </div>
                </div>
                <div class="filter-search-types-container filter-search-relevance d-flex d-flex-dir-col"
                    data-filter-type="trival">
                    <button class="filter-btn">Sort by <span class="trival-filter-value">Popularity</span></button>
                    <div class="filter-dropdown tags-dropdown d-flex d-flex-dir-col">
                        <button class="filter-dropdown-btn" data-option-value="Popularity">Popularity</button>
                        <button class="filter-dropdown-btn" data-option-value="Date">Date (Recent)</button>
                    </div>
                </div>
                <div class="filter-search-types-container filter-search-clear-filter">
                    <button class="filter-btn filter-clear-btn">Clear filters</button>
                </div>
            </div>
        </div>

        <h3 class="articles-main-container-heading">Recent articles</h3>
        <h5 class="articles-main-container-sub-heading">Showing results for "<b>absc</b>" in 0.001s</h5>
        <div class="articles-main-container d-flex d-flex-just-cent">
            <div class="loader-container">
                <div>
                    <span class="loader loader1">l</span>
                    <span class="loader loader2">o</span>
                    <span class="loader loader3">a</span>
                    <span class="loader loader4">d</span>
                    <span class="loader loader5">i</span>
                    <span class="loader loader6">n</span>
                    <span class="loader loader7">g</span>
                </div>
            </div>
        </div>
        <div class="articles-main-container-pagination d-flex d-flex-just-cent">
        </div>
    </main>
    <updates-component></updates-component>
    <footer-component></footer-component>
    <script src="../../Cotroller/JS/Dom/Navbar.js"></script>
    <script src="../../Cotroller/JS/Dom/Updates.js"></script>
    <script src="../../Cotroller/JS/Dom/Footer.js"></script>
    <script src="../../Cotroller/JS/Base.js"></script>
    <script src="../../Cotroller/JS/Index.js"></script>
</body>

</html>